{% extends 'base.html' %}

{% block content %}
<header class="navbar navbar-default navbar-static-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">Logged in as {{ request.user.get_full_name }}</div>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/manage/approve/">Approve/manage projects</a>
        </li>
        <li>
          <a href="/manage/inactive-projects/">Inactive projects</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/manage/logout/">Log out</a></li>
      </ul>
    </nav>
  </div>
</header>
{% endblock content %}
