{% extends 'base.html' %}

{% block content %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52853408-2', 'auto');
  ga('send', 'pageview');

</script>
<header class="navbar navbar-default navbar-static-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">Logged in as {{ request.user.get_full_name }}</div>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/manage/approve/">Approve/manage projects</a>
        </li>
        <li>
          <a href="/manage/inactive-projects/">Inactive projects</a>
        </li>
        <li>
          <a href="/manage/projects/">My projects</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/manage/logout/">Log out</a></li>
      </ul>
    </nav>
  </div>
</header>
{% endblock content %}
