{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Northwestern Course Data API{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
  <script src="{% static 'jquery/jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</head>
<body>
{% block content %}
  <div class="container">
    <h1>Hello</h1>
  </div>
{% endblock content %}
</body>
</html>
