{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Northwestern Course Data API</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <a class="btn btn-default btn-lg btn-block btn-landing" href="#">Log in with your NetID</a>
    </div>
    <div class="col-sm-6">
      <a class="btn btn-default btn-lg btn-block btn-landing" href="#">Documentation</a>
    </div>
  </div>
</div>
{% endblock content %}
