{% extends 'base_admin.html' %}

{% block title %}Manage and approve API keys{% endblock title %}

{% block content %}
{{ block.super }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if message %}
      <div class="alert alert-info">{{ message }}</div>
      {% endif %}

      <h1>Projects pending approval</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Project name</th>
            <th>Requester</th>
            <th>Date submitted</th>
            <th>Question responses</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {% for project in pending %}
          <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.owner.get_full_name }}</td>
            <td>{{ project.date_submitted }}</td>
            <td><strong>Description:</strong> {{ project.description }}<br><strong>Length of use:</strong> {{ project.how_long }}</td>
            <td><a class="btn btn-success btn-sm" href="/manage/approve-project/?id={{ project.id }}&action=approve">Approve</a><a class="btn btn-danger btn-sm" href="/manage/approve-project/?id={{ project.id }}&action=reject">Reject</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


      <h1>Approved projects</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Project name</th>
            <th>Owner</th>
            <th>Approved by</th>
            <th>Date approved</th>
            <th>Requests used</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.owner.get_full_name }}</td>
            <td>{{ project.approved_by.get_full_name }}</td>
            <td>{{ project.date_approved }}</td>
            <td>{{ project.requests_sent }}/{{ project.daily_limit }}</td>
            <td><a class="btn btn-default btn-sm" href="/manage/edit-project/?id={{ project.id }}&action=deactivate">Deactivate</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
