{% extends 'base.html' %}

{% block title %}My API projects{% endblock title %}

{% block head %}
<style>
@media (min-width: 768px) {
  .padding-top-20-sm {
    padding-top: 20px;
  }
  .text-right-sm {
    text-align: right;
  }
}
</style>
{% endblock head %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>My API projects</h1>
    </div>
    <div class="col-sm-6 text-right-sm padding-top-20-sm">
      <a class="btn btn-primary" href="/manage/new-project/">Request key for a new project</a>
      <a class="btn btn-default" href="/manage/logout/">Log out</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if message %}
      <div class="alert alert-info">{{ message }}</div>
      {% endif %}
      {% if pending_requests %}
      <p class="lead">You have {{ pending_requests|length }} pending request(s).</p>
      {% endif %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Key</th>
            <th>Requests used today</th>
            <th>Allowed referrers</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.api_key }}</td>
            <td>{{ project.requests_sent }}/{{ project.daily_limit }}</td>
            <td>{% for domain in project.allowed_referrer_set %}{{ domain.name }}{% if not forloop.last %}<br>{% endif %}{% endfor %} <a class="btn btn-default btn-sm" href="/manage/add-referrer/?id={{ project.id }}" data-toggle="modal" data-target="#add-referrer">Add referrer</a></td>
          </tr>
          {% empty %}
          <tr>
            <td class="text-center" colspan="4">It looks like you don't have any active projects. <a href="/manage/new-project/">Request a key now.</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="add-referrer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content" action="/manage/add-referrer/" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a referrer</h4>
      </div>
      <div class="modal-body">
        <label for="domain">Domain</label>
        <input class="form-control" type="text" name="domain" id="domain">
        <p>This will enable applications at this domain to make cross-site API requests using your API key. Wildcards are supported e.g. <code>*.example.com</code></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
    </form>
  </div>
</div>
{% endblock content %}
